@import "./../assets/scss/colors.scss";

.main-layout {
  background-color: $colors_pLight;

  .main-content {
    background-color: $colors_primary;
    height: 100vh;
    max-width: 1024px;
    margin: auto;
  }
}
